<h1 class="title" data-bind="title"></h1>

<i class="done jira-margin">TODO</i>
<i class="done1 jira-margin" data-bind="todo"></i><br>
<i class="done jira-margin">OPEN</i>
<i class="done2 jira-margin" data-bind="open"></i><br>
<i class="done jira-margin">REOPENED</i>
<i class="done3 jira-margin" data-bind="reopened"></i><br>
<i class="done jira-margin">IN PROGRESS</i>
<i class="done4 jira-margin" data-bind="inprogress"></i><br>
<i class="done jira-margin">DEV DONE</i>
<i class="done5 jira-margin" data-bind="devdone"></i><br>
<i class="done jira-margin">ASSIGNED TO QA</i>
<i class="done5 jira-margin" data-bind="qa"></i><br>
<i class="done jira-margin">UAT</i>
<i class="done3 jira-margin" data-bind="uat"></i><br>
<i class="done jira-margin">DONE</i>
<i class="done1 jira-margin" data-bind="done"></i><br>
<i class="done jira-margin">RESOLVED</i>
<i class="done1 jira-margin" data-bind="resolved"></i><br>
<i class="done jira-margin">TOTAL</i>
<i class="done1 jira-margin" data-bind="total"></i><br>
<i class="more-info" data-bind="moreinfo"></i>

<p class="updated-at" data-bind="updatedAtMessage"></p>
