<h1 class="title" data-bind="title"></h1>

<p class="done jira-margin">TODO</p>
<p class="done1 jira-margin" data-bind="todo"></p>
<p class="done jira-margin">IN PROGRESS</p>
<p class="done2 jira-margin" data-bind="progress"></p>
<p class="done jira-margin">ASSIGNED TO QA</p>
<p class="done3 jira-margin" data-bind="qa"></p>
<p class="done jira-margin">DONE</p>
<p class="done1 jira-margin" data-bind="value"></p>
<p class="done jira-margin">TOTAL</p>
<p class="done1 jira-margin" data-bind="total"></p>
<p class="more-info" data-bind="moreinfo"></p>

<p class="updated-at" data-bind="updatedAtMessage"></p>
