<h1 class="title" data-bind="title"></h1>
<ul>
<div class="done jira-margin">TODO</div>
<div class="done1 jira-margin" data-bind="todo"></div><br>
<div class="done jira-margin">OPEN</div>
<div class="done1 jira-margin" data-bind="open"></div><br>
<div class="done jira-margin">REOPENED</div>
<div class="done1 jira-margin" data-bind="reopened"></div><br>
<div class="done jira-margin">IN PROGRESS</div>
<div class="done1 jira-margin" data-bind="inprogress"></div><br>
<div class="done jira-margin">DEV DONE</div>
<div class="done1 jira-margin" data-bind="dev_done"></div><br>
<div class="done jira-margin">ASSIGNED TO QA</div>
<div class="done1 jira-margin" data-bind="qa"></div><br>
<div class="done jira-margin">UAT</div>
<div class="done1 jira-margin" data-bind="uat"></div><br>
<div class="done jira-margin">DONE</div>
<div class="done1 jira-margin" data-bind="done"></div><br>
<div class="done jira-margin">RESOLVED</div>
<div class="done1 jira-margin" data-bind="resolved"></div><br>
<div class="done jira-margin">TOTAL</div>
<div class="done1 jira-margin" data-bind="total"></div><br>
<div class="more-info" data-bind="moreinfo">
</ul>
<p class="updated-at" data-bind="updatedAtMessage"></p>
