<div class="row">
  <!-- Dashboard tiles section -->
  <div class="col-sm-offset-1 col-sm-9">
    <div class="dashbords ">
      <div class="tiles">
        <%= dashboard.name %>
      </div>
    </div>

  </div>
</div>