<div class="col-sm-offset-1">
<div class="row">
  <!-- Dashboard tiles section -->
  <div class="col-sm-9">
  <% @users.each do |user|%>
    <div class="dashbords ">
      <div class="tiles">
        <%= user.name %>
      </div>
    </div>
<% end %>
  </div>
</div>
<%= will_paginate @users, renderer: BootstrapPagination::Rails, :next_label => '>',:previous_label => '<',:inner_window   => 0, :outer_window => 0  %>
</div>