<%= link_to 'New user', new_admin_user_path,:remote => true %>
<div class="row  col-sm-6 hidden-xs">
	<!-- Dashboard tiles section -->
	<% @users.each do |user| %>
	<div class="col-sm-offset-1 col-sm-9">
		<div class="dashbords ">
			<div class="tiles">   
				<%= user.name %>
			</div>
		</div>
	</div>
	<% end %>
<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>