<div class="panel panel-default dashboard_talks">
          
<h1>List of users</h1>
<table>
<% @users.each do |user| %>
	<tr>
		<td><%= user.name %></td>
<%= link_to 'Make Admin', admin_user_admin_role_path(user),:remote => true %>

</tr>
	<% end %>
</table>
</div>
</br>
</br>
</br>

<%= link_to 'New user', new_admin_user_path,:remote => true %>
</div>

