<%= link_to 'New user', new_admin_user_path,:remote => true %>
<table>
	<!-- Dashboard tiles section -->
	<div class="row">
		<% @users.each do |user| %>
		<tr>
			<div class="col-sm-offset-2 col-sm-6">
				<div class="dashbords ">
					<div class="tiles">  
						<%= user.name %>
					</div>
				</div>
			</div>

			<%#= link_to 'Make Admin', admin_user_admin_role_path(user),:remote => true %>

		</tr>
	</div>
	<% end %>
</table>
</div>
</br>
</br>
</br>

