<div class="page-title">
  Manage Users
</div>
<div class="container">
<div class="text-right dash-btn-group">
  <%= link_to 'Add New User', new_admin_user_path, :remote => true, :class=>"btn btn-primary" %>
</div>
<div class="row dashboard_index">
  <div id="div_dashboard_index" class="col-sm-6 hidden-xs">
    <%= render :partial=>"show" %>
  </div>
  <div id="div_dashboard_show" class="col-xs-12 col-sm-6">
    <%#= render :partial=>"", locals: {:dashboard => @dashboard } %>
  </div>
</div>
</div>
