<div class="gridster">
  <ul>
    <% github_pr_job(params[:dashboard_id]) %>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="PullRequests" data-id="AuthToken"></div>
    </li>
  </ul>
</div>
