<div class="gridster">
  <% get_the_job_done(params[:dashboard_id]) %>
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="PullRequests" data-id="open_pr"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="PullRequests" data-id="closed_pr"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-view="PullRequests" data-id="AuthToken"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  		<div data-id="github_status" data-view="traffic_lights" data-title="GitHub"></div>
		</li>
  </ul>
</div>
