<div class="gridster">
  <% get_the_job_done(params[:dashboard_id]) %>
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="PullRequests" data-id="AuthToken"></div>
    </li>
  </ul>
</div>
